{% load static %}
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- връзки към css файловете -->
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'style_header.css'%}">
    <link rel="stylesheet" href="{% static 'style_main.css'%}">
    <link rel="stylesheet" href="{% static 'style_logi_register.css'%}">
    <link rel="stylesheet" href="{% static 'style_feedback.css'%}">
    <link rel="stylesheet" href="{% static 'FooterStyles.css'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" /><!-- serach icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    <!-- Заглавие на таба горе -->
    <title>e-books</title>
    
</head>
<body>
    <header>
        <!-- Логото в header -->
        <div id="logo_box">
            <img id="logo_img" src="{% static '\images\primerno_logo2-removebg-preview.png' %}" alt="website_book_logo">
            <a class="logo_name" href="{% url 'home' %}">E-BOOKS</a>
        </div>
        <!-- Search Bar -->
        <form method="get" class="search_bar">
          <button type="submit" class="search_icon_btn">
              <img class="search_icon" src="{% static '\images\search.svg' %}" alt="search_icon_img">
          </button>
          <input class="search_input" type="search" name="q" value="{{ request.GET.q }}" placeholder="Търси по заглавие...">
        </form>
        <!-- Иконки бутони в header -->
        <nav>
            <button class="icons"><img class="icon" src="{% static '\images\heart.svg' %}" alt="heart_icon_img"></button>

            <button class="icons btnLogin-popum" id="account_icon"><img class="icon" src="{% static '\images\account_circle.svg' %}" alt="account_icon"></button>

            <button class="icons"><img class="icon" src="{% static '\images\shopping_cart.svg' %}" alt="shopping_cart_img"></button> 
        </nav>
    </header>

    <div class="wrapper">

        <span class="icon-close"><img class="img_close" src="{% static '\images\close.svg' %}" alt="close icon"></span>

        <div class="form-box login">
          <h2>Login</h2>

          <form action="#">
            <div class="input-box">
              <span class="lr_icon"><img class="inp_icons" src="{% static '\images\mail.svg' %}" alt="mail icon"></span>
              <input type="text" required>   <!--"type" principno e email, ama taka po-dobre izglejda,kato se napishe neshto razlichno ot mail-->
              <label>Email</label>
            </div>

            <div class="input-box">
              <span class="lr_icon"><img class="inp_icons" src="{% static '\images\lock.svg' %}" alt="locker icon"></span>
              <input type="password" required>
              <label>Password</label>
            </div>

            <div class="remember-forgot">
              <label><input class="chec_box" type="checkbox">Remember me</label>
              <a href="#">Forgot password?</a>
            </div>
            <button type="submit" class="btn">Login</button>

            <div class="login-register">
              <p>Dont have an account? <a href="#" class="register-link">Register</a></p>
            </div>
          </form>

        </div>

        

        <div class="form-box register">
          <h2>Registration</h2>

          <form action="#">
            <div class="input-box">
              <span class="lr_icon"><img class="inp_icons" src="{% static '\images\user_icon.svg' %}" alt="user figure icon"></span>
              <input type="text" required>   
              <label>Username</label>
            </div>
            <div class="input-box">
              <span class="lr_icon"><img class="inp_icons" src="{% static '\images\mail.svg' %}" alt="mail icon"></span>
              <input type="text" required>   <!--"type" principno e email, ama taka po-dobre izglejda,kato se napishe neshto razlichno ot mail-->
              <label>Email</label>
            </div>

            <div class="input-box">
              <span class="lr_icon"><img class="inp_icons" src="{% static '\images\lock.svg' %}" alt="locker icon"></span>
              <input type="password" required>
              <label>Password</label>
            </div>

            <div class="remember-forgot">
              <label><input class="chec_box" type="checkbox">I agree to the terms & conditions</label>
              
            </div>
            <button type="submit" class="btn">Register</button>

            <div class="login-register">
              <p>Already have an account? <a href="#" class="login-link">Login</a></p>
            </div>
          </form>

        </div>


    </div>

    {% block content %}
    {% endblock %}

    
    <footer>
        <footer class="site-footer">
            <div class="footer-container">
              <div class="footer-section">
                <h4>About BooXtore</h4>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </div>
              
              <div class="footer-section">
                <h4>Customer Service</h4>
                <ul>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Shipping Policy</a></li>
                  <li><a href="#">Returns</a></li>
                </ul>
              </div>
              
              <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-icons">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
            
            <div class="payment-section">
              <div class="payment-icons">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
              </div>
              <p class="copyright">&copy; 2025 BookStore. All rights reserved.</p>
            </div>
          </footer>
    </footer>

    <!-- JQuery за продуктова страница-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script> 
    <script src="{% static 'script_log_regis.js' %}"></script>
    <script src="{% static 'script_sliderRange.js' %}"></script>
    <script src="{% static 'script_feedback.js' %}"></script>
  

    
</body>
</html>