{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <div class="book_container_section">
    
        <!-- Лявата колона с филтри (Grid area: side) -->
        <div class="side">
            <div class="filters-container">
                <div class="col-md-3">
                    
                    <!-- Filter 1 -->
                    <div class="card mb-4">
                        <h6 class="card-header">Colors</h6>
                        <div class="list-group list-group-flush">
                            {% for color in colors %}
                            <li class="list-group-item" data-filter="color" data-count="{{ color.product_count }}">
                                <input class="filter-checkbox" type="checkbox" />&nbsp;
                                {{ color.title }} <span>({{ color.product_count }})</span>
                            </li>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Filter 2 -->
                    <div class="card mb-4">
                        <h6 class="card-header">Categories</h6>
                        <div class="list-group list-group-flush">
                            {% for cat in cats %}
                            <li class="list-group-item" data-filter="category" data-count="{{ cat.product_count }}">
                                <input class="filter-checkbox" type="checkbox" />&nbsp;
                                {{ cat.title }} <span>({{ cat.product_count }})</span>
                            </li>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Filter 3 -->
                    <div class="card mb-4">
                        <h6 class="card-header">Brands</h6>
                        <div class="list-group list-group-flush">
                            {% for brand in brands %}
                            <li class="list-group-item" data-filter="brand" data-count="{{ brand.product_count }}">
                                <input class="filter-checkbox" type="checkbox" />&nbsp;
                                {{ brand.title }} <span>({{ brand.product_count }})</span>
                            </li>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Filter 4 -->
                    <div class="card mb-4">
                        <h6 class="card-header">Sizes</h6>
                        <div class="list-group list-group-flush">
                            {% for size in sizes %}
                            <li class="list-group-item" data-filter="size" data-count="{{ size.product_count }}">
                                <input class="filter-checkbox"  type="checkbox" />&nbsp;
                                {{ size.title }} <span>({{ size.product_count }})</span>
                            </li>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- For the price slider section -->
                    <div class="card mb-4">
                        <h6 class="card-header">Цена</h6>
                        <div class="list-group list-group-flush">
                            <div class="price-range p-3">
                                <div class="slider-labels">
                                    <span class="min-value">0 лв.</span>
                                    <span class="max-value">100 лв.</span>
                                </div>
                                <input type="range" min="0" max="100" value="50">
                                <div class="price-controls mt-2">
                                    <input type="text" placeholder="0">
                                    <input type="text" placeholder="0">
                                    <button>→</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Горен десен ъгъл: Сортиране (Grid area: sort_1) -->
        <div class="sort_1">
            <label for="sortBy">Подреди по:</label>
            <select name="sortBy" id="sortBy">
            <option value="newest">Най-нови</option>
            <option value="lowestPrice">Най-ниска цена</option>
            <option value="highestPrice">Най-висока цена</option>
            <option value="bestSelling">Най-продавани</option>
            </select>
        </div>

        <!-- Горен десен ъгъл: Покажи по (Grid area: sort_2) -->
        <div class="sort_2">
            <label for="itemsPerPage">Покажи по:</label>
            <select name="itemsPerPage" id="itemsPerPage">
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="60">60</option>
            <option value="all">Всички</option>
            </select>
        </div>

        <!-- Тук започват различните книги -->
        <div class></div>
        {% for product in products %}
            <div class="book-item article-{{ forloop.counter0 }}"  onclick="navigateToPage('{% url 'product_detail' product.slug product.id %}')">
                    <div class="book-cover">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    </div>
                    <div class="book-details">
                            <div class="book-info">
                                <div class="book-rating">
                                    ⭐⭐⭐⭐☆
                                </div>
                                <div class="book-icons">
                                    ❤️ 🛒
                                </div>
                            </div>
                            <h4 class="book-title">{{ product.title }}</h4>
                            <div class="book-author">Издателство: {{ product.brand }}</div>
                            <div class="book-price">Цена: {{ product.price }} лв.</div>
                    </div>
            </div>
        {% endfor %}
    </div>
    <p class="my-4 text-center"><button id="loadMore" data-total="{{total_data}}" data-limit="3" class="btn btn-dark btn-sm">Load More <i class="fa fa-sync load-more-icon"></i></button></p>

    <!-- четвърта секция с отличаващи се книги  -->
    <div class="featured-section">
        <h3 style="color: white;">Featured Books:</h3>
        {% for product in featured_products %}
            <div class="book-item article-{{ forloop.counter0 }}" onclick="navigateToPage('{% url 'product_detail' product.slug product.id %}')">
                    <div class="book-cover">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    </div>
                    <div class="book-details">
                        <div class="book-info">
                            <div class="book-rating">
                                ⭐⭐⭐⭐☆
                            </div>
                            <div class="book-icons">
                                ❤️ 🛒
                            </div>
                        </div>
                        <h4 class="book-title">{{ product.title }}</h4>
                        <div class="book-author">Издателство: {{ product.brand }}</div>
                        <div class="book-price">Цена: {{ product.price }} лв.</div>
                    </div>
            </div>
        {% endfor %}
    </div>
    

</main>
{% endblock %}