{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styleProduct_Ivan.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/web@latest/dist/material-web.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@material/web@latest/dist/material-web.js"></script>
</head>

<body>
    <div class="container">
        <div class="left-section">
            <h1>{{ data.title }}</h1>
            <div class="book-cover">
                <img src="{{ data.image.url }}" alt="{{ data.title }}">
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="buttons">                              
                <button onclick="window.location.href = 'SimplePayment.html'">
                    Buy Now
                </button>
                <button type="button">Add to Favourites</button>
            </div>
        </div>

        <!--Right Section: Book Description, Author, Price, Buy button-->
        <div class="right-section">
            <h2>Book Description</h2>
            <span style="color: black">{{ data.category }}</span>
            <p>Detail: {{ data.detail }}</p>
            <h3>Brand: {{ data.brand }}</h3>
            <h3>
                <div class="price-label">
                    <span style="color: white"> {{ data.price }} лв. </span>
                </div>
                  
            </h3>
            
        </div>
     
    </div>
    
    <div class="product-Featured-section">
        <h3 style="color: white;">Featured Books:</h3>
        {% for product in featured_products %}
            <div class="book-item article-{{ forloop.counter0 }}" onclick="navigateToPage('{% url 'product_detail' product.slug product.id %}')">
                    <div class="book-cover">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    </div>
                    <div class="book-details">
                        <div class="book-info">
                            <div class="book-rating">
                                ⭐⭐⭐⭐☆
                            </div>
                            <div class="book-icons">
                                ❤️ 🛒
                            </div>
                        </div>
                        <h4 class="book-title">{{ product.title }}</h4>
                        <div class="book-author">Издателство: {{ product.brand }}</div>
                        <div class="book-price">Цена: {{ product.price }} лв.</div>
                    </div>
            </div>
        {% endfor %}
      </div>
    
</body>

</html>
{% endblock %}