{% extends 'base.html' %}
{% block content %}
<main>
    <!-- първа секция с 2-3 банера (избрани книги) -->
    <div class="banner_section">
        <div id="first_container" style="color: aqua;">First container here</div>
        <div id="second_container">Second container here</div>
        <div id="third_container">Third Container here</div>
    </div>

    <!-- втора секция с 2-3 слайдера -->
    <div class="slider_section">
        <div id="first_slider">Текст 1</div>
        <div id="second_slider">Текст 2</div>
        <div id="third_slider">Текст 3</div>
    </div>
    <hr style="width: 100vw;" color="green" />

    <!-- трета секиця с всички книги -->
    <div class="book_container_section">
    
        <!-- Лявата колона с филтри (Grid area: side) -->
        <div class="side">
                <div class="filters-container">
                    <div class="filters-promotions-scroll">
                        <h3>Поредица</h3>
                        <hr style="color: yellow; width: 80%;" />
                        <div class="scrollable-list" style="max-height: 200px; overflow-y: auto;">
                            <ul style="list-style-type: none; margin: 0; padding: 0;">
                                <li>
                                    <label>
                                        <input type="checkbox" name="series[]" value="365 дни">
                                        Проба (3)
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="series[]" value="Briar U">
                                        Проба (3)
                                    </label>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="filters-genres-scroll">
                        <h3>Жанрове</h3>
                        <hr style="color: yellow;" />
                        <div class="scrollable-list">
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" name="series[]" value="Комедия">
                                        Комедия (3)
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        
        <!-- Горен десен ъгъл: Сортиране (Grid area: sort_1) -->
        <div class="sort_1">
            <label for="sortBy">Подреди по:</label>
            <select name="sortBy" id="sortBy">
            <option value="newest">Най-нови</option>
            <option value="lowestPrice">Най-ниска цена</option>
            <option value="highestPrice">Най-висока цена</option>
            <option value="bestSelling">Най-продавани</option>
            </select>
        </div>

        <!-- Горен десен ъгъл: Покажи по (Grid area: sort_2) -->
        <div class="sort_2">
            <label for="itemsPerPage">Покажи по:</label>
            <select name="itemsPerPage" id="itemsPerPage">
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="60">60</option>
            <option value="all">Всички</option>
            </select>
        </div>

        <!-- Тук започват различните книги -->
        {% for product in products %}
            <div class="book-item">
                <div class="book-cover">
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                </div>
                <div class="book-details">
                    <div class="book-info">
                        <div class="book-rating">
                            ⭐⭐⭐⭐☆
                        </div>
                        <div class="book-icons">
                            ❤️ 🛒
                        </div>
                    </div>
                    <h4 class="book-title">{{ product.title }}</h4>
                    <div class="book-author">Издателство: {{ product.brand }}</div>
                    <div class="book-price">Цена: {% for attribute in product.productattribute_set.all %}
                        {{ attribute.price }} лв.
                    {% endfor %}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    

</main>
{% endblock %}