* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 0.9vw;
  padding-left: 10px;
}

::-webkit-scrollbar-track {
  background:#fae5d3;
}
::-webkit-scrollbar-thumb {
  background: #ff6b00;
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
  background: #de6b19;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom right, #535151,#70583c);
}

.book_container_section {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  display: grid;
  grid-template-areas:
    "side sort_1 sort_2 . ."
    "side article-0 article-1 article-2 article-3"
    "side article-4 article-5 article-6 article-7";
  
  grid-template-columns: 260px auto auto auto auto;
  grid-template-rows: 60px auto auto;
  gap: 1rem;
  padding: 1rem 1rem 1rem 0;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fae5d3;
  border-radius: 4px;
}

.side {
  grid-area: side;
  background-color: #d0cfcf; 
  padding: 1rem;
  border-right: 1px solid #ddd;
  border-radius: 0 25px 25px 0;
}


.sort_1 {
  grid-area: sort_1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}

.sort_2 {
  grid-area: sort_2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-right: 1rem; 
}

.filters-container {
  padding: 20px;
}

/* Стил за заглавието на филтрите */
.filters-container h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

/* Стил за картончетата на филтрите */
.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стил за заглавието на  картончетата на филтрите */
.card-header {
  background-color: #007bff;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 8px 8px 0 0;
}

.list-group-item {
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  color: #555;
  display: flex;
  align-items: center;
}


.list-group-item span {
  margin-left: auto;
  font-weight: 600;
  color: #007bff;
}


.list-group-item input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}


.list-group-item:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.article-0 {grid-area: article-0;}
.article-1 {grid-area: article-1;}
.article-2 {grid-area: article-2;}
.article-3 {grid-area: article-3;}
.article-4 {grid-area: article-4;}
.article-5 {grid-area: article-5;}
.article-6 {grid-area: article-6;}
.article-7 {grid-area: article-7;}


.book-item {
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.book-cover img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 4px;
}
.book-cover {
  align-items: center;
}

.book-title {
  margin: 7% 0 15%;
  font-size: 16px;
  font-weight: bold;;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-width: 90%;
  word-wrap: break-word;
  
}

.book-author {
  color: #555;
  margin-bottom: 1rem;
}

.book-price {
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 0.5rem;
}

.book-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
}

.book-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.book-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 768px) {
  .book_container_section {
    grid-template-columns: 1fr;

    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
      "side"
      "sort_1"
      "sort_2"
      "article-0"
      "article-1"
      "article-2"
      "article-3"
      "article-4"
      "article-5"
      "article-6"
      "article-7";
  }
  
  .side {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
  
  .sort_2 {
    justify-content: flex-start;
    padding-left: 1rem;
  }
}


